!!! 5
%html
  %head
    %title Tab Schedule
    %link{href: "bootstrap.min.css", rel: "stylesheet"}
    %link{href: "bootstrap-theme.min.css", rel: "stylesheet"}
    %link{href: "stylesheet.css", rel: "stylesheet"}
    %script{src: "jquery-2.1.0.min.js"}
    %script{src: "jquery.timePicker.js"}
    %script{src: "bootstrap.min.js"}
    %script{src: "moment.min.js"}
    %script{src: "lib.js"}
    %script{src: "options.js"}
  %body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1
            Tab Schedule
          %hr

          .well.well-default.new_tab
            %label
              Add a new URL to schedule:
            .input-group
              %input.url.form-control{type: "text", placeholder: "http://"}
              .input-group-btn
                %button.save.btn.btn-default{type: "button"}
                  Add URL

          %table.table.tabs
            %thead
              %tr
                %th
                  URL
                %th
                  Will open every
                %th
            %tbody

          %hr

          %footer
            %ul.list-inline
              %li
                %a{href: "https://github.com/nikolaiwarner/tabschedule/issues"}
                  Report an issue
              %li.pull-right
                %a{href: "http://nwarner.com"}
                  Created by Nikolai Warner
